

{% extends "EshopStockBundle:Default:index.html.twig" %}
    {% block container %}


            <tbody>
            {% for categorie in categories %}

                <div>




                    <td><img src="{{ asset('images/')}}{{ categorie.nomImage }}" alt="ajout" style="width: 50px; height: 50px"></td></div>
                <div> <td>{{ categorie.libelle }}</td></div>
                <div> <td><a href="{{ path("eshop_stock_delete",{'id': categorie.id}) }}" class="btn btn-mini btn-danger">  <i class="icon-trash bigger-120"></i> </a>
                    <td><a href="{{ path("eshop_stock_update",{'id': categorie.id}) }}" class="btn btn-mini btn-info">  <i class="icon-edit bigger-120"></i> </a>

                </div>

                </td> {% endfor %}


            <tr>





                <div class="hidden-desktop visible-phone">
                    <div class="inline position-relative">
                        <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-cog icon-only bigger-110"></i>
                        </button>

                        <ul class="dropdown-menu dropdown-icon-only dropdown-yellow pull-right dropdown-caret dropdown-close">
                            <li>
                                <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
																		<span class="blue">
																			<i class="icon-zoom-in bigger-120"></i>
																		</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
																		<span class="green">
																			<i class="icon-edit bigger-120"></i>
																		</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
																		<span class="red">
																			<i class="icon-trash bigger-120"></i>
																		</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                </td>
            </tr>






            </tbody>

    {% endblock %}